
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-signin-client_id" content="473449927097-oi3n3l0t9hh6lpfrg77sqktv4518g0op.apps.googleusercontent.com">
  <meta name="description" content="Doctress: Lady Doctors Nexus">
  <meta name="keywords"
      content="doctress, women empowerment, female in medical, Women in Healthcare, Female Empowerment, Healthcare Professionals, Networking Platform, Collaboration, Mentorship, Career Development, Supportive Community, Professional Growth, Diversity and Inclusion, Empowering Women, Healthcare Innovation, Leadership Development, Knowledge Exchange, Global Network">
  <meta name="author" content="">
  <title>
     {% block title %}{% endblock %} 
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

 {% block stylesheets %}   {% endblock stylesheets %}

</head> 

    {% block content %}{% endblock content %}

 

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}   {% endblock javascripts %}



</html>



