
<link rel="stylesheet" href="{{ url_for('static', filename='css/color.css') }}" type="text/css">

<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mb.YTPlayer.min.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}" type="text/css">

<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.transitions.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_profile.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/colors/blue.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/colors/green.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/colors/orange.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/colors/red.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/colors/yellow.css') }}" type="text/css">
