<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/countdown-custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/designesia.js') }}"></script>
<script src="{{ url_for('static', filename='js/easing.js') }}"></script>
<script src="{{ url_for('static', filename='js/enquire.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.countdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.countTo.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.mb.YTPlayer.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.particleground.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.plugin.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script src="{{ url_for('static', filename='js/maps.api.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
<script src="{{ url_for('static', filename='js/subscribe.js') }}"></script>
<script src="{{ url_for('static', filename='js/validation-rsvp.js') }}"></script>
<script src="{{ url_for('static', filename='js/validation.js') }}"></script>
<script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
