<footer>
    <div class="container text-center text-light">
        <div class="row">
            <div class="col-md-12">
                <div class="social-icons big">
                    <a href="https://www.facebook.com/profile.php?id=61556417138254" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                    <a href="tel:9885848867"><i class="fa fa-phone fa-lg"></i></a>
                    
                    <a href="https://www.instagram.com/thedoctressofficial" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
                    
                    <a href="mailto:thedoctressofficial@gmail.com" target="_blank"><i class="fa fa-paper-plane fa-lg"></i></a>
                    <a href="https://youtube.com/@TheDoctressofficial?si=FnF3p3Wm5fg6ShrY" target="_blank"><i class="fa fa-youtube fa-lg"></i></a>
                </div>

            </div>
            <div class="spacer-double"></div>
            <ul >
                <li><a href="{{url_for('terms_condition')}}">Our Terms and Conditions </a></li>
                <li><a href="{{url_for('refund_policy')}}">Refund Policy </a></li>
            
            </ul>
        </div>
        
        
    </div>
    

    <div class="subfooter">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <a href="https://bixcube.com/">
                    &copy; Made with ❤️ by Bixcube
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>